*{
    color: white;
    font-family: "Hind Siliguri Medium";
}

body{
    overflow: hidden;
}

.featuresPage {
    background-color: #0b0b0b;
    height: 93vh;
}

.testText {
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-size: 8vh;
}

.carLeft {
    position: absolute;
    left: 71vh;
    top: 20vh;
    width: 100vh;
    z-index: 1;
    transition: all 0.5s ease-in-out;

}

.carLeft:hover {
    transform: scale(1.05) translateY(-1vh);

    cursor: pointer;
}

.titleFeature{
    position: absolute;
    top: 70vh;
    display: flex;
    gap: 2vh;
    padding: 0 5vh;
}

.line{
    border-left: 0.2vh solid white;
}

.textBack{
    font-family: "Montserrat", Bold 700;
    font-size: 13vh;
    position: absolute;
    top: 20vh;
    left: 14vh;
    transition: 0.3s;
    z-index: 1;
}

.textBack1{
    font-family: "Montserrat", Bold 700;
    font-size: 13vh;
    position: absolute;
    top: 34vh;
    left: 14vh;
    transition: 0.3s;
    z-index: 1;
}

.textBack2{
    font-family: "Montserrat", Bold 700;
    font-size: 13vh;
    position: absolute;
    top: 34vh;
    left: 40vh;
    transition: 0.3s;
    z-index: 1;
}

.textBack:hover , .textBack1:hover , .textBack2:hover{
    letter-spacing: 1vh;
}



  .titleCar{
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15vh;
    color: #225fd1;
    margin-top: -6vh;
    cursor: default;
    position: absolute;
    top: 45vh;
    left: 30vh;
    transition: 0.3s;
    z-index: 1;
  }
  

.carBack{
    position: absolute;
    top: 0vh;
    left: 30vh;
    z-index: 0;
}
