*{
    color: white;
    font-family: "Hind Siliguri Medium";
}

body{
    overflow: hidden;
}

.featuresPage {
    background-color: #0b0b0b;
    height: 93vh;
}

.testText {
    color: white;
    text-align: center;
    padding-top: 30vh;
    font-size: 8vh;
}

.carLeft{
    position: absolute;
    top: -5vh;
    left: 50vh;
    transition: .3s;
    width: 125vh;
}

.carLeft:hover{
    transform: scale(1.05);
    top: -0,5vh;
}

.titleFeature{
    position: absolute;
    top: 70vh;
    display: flex;
    gap: 2vh;
    padding: 0 5vh;
}

.line{
    border-left: 0.2vh solid white;
}

.textBack{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10vh;
    position: absolute;
    top: 20vh;
    left: 5vh;
    transition: 0.3s;
}

.textBack:hover{
    letter-spacing: 1vh;

}