* {
    margin: 0;
    padding: 0;
    font-family: "Hind Siliguri Medium", serif;
}

.headerContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
    background-color: black;
}

.subdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15vh;
}

.button {
    color: white;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 2vh;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.button:hover {
    color: #225fd1;
}

.button::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1vh;
    background-color: #225fd1;
    transition: width 0.3s ease;
}
  
.button:hover::after {
   width: 100%;
}

.cartIconStyle {
    height: 3vh;
    width: 3vh;
}

.userIconStyle {
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
}