* {
    margin: 0;
    padding: 0;
}

.mainTitle{
    font-family: "Imperial Script", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 9vh;
    color: #225fd1;
    margin-top: -6vh;
    cursor: default;
    top: 30vh;
    left: 75vh;
    transition: 0.3s;
    z-index: 1;
}

.neMainTitleFirst{
    font-size: 3vh;
    cursor: default;
    transition: 0.2s;
    font-family: "Montserrat", Bold 700;
}

.neMainTitleSecond{
    font-size: 3vh;
    cursor: default;
    transition: 0.2s;
    font-family: "Montserrat", Bold 700;
}

.mainTitle:hover, .neMainTitleFirst:hover, .neMainTitleSecond:hover{
    color: #225fd1;
}

.titleDiv{
    border-radius: 1vh;
    width: 35vh;
    text-align: center;
    padding: 2vh;
}