* {
    color: white;
}

body {
    overflow: hidden;
}

.homePage {
    background-color: #0b0b0b;
    height: 93vh;
}

.bmwBackgroundTitle {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80vh;
    position: absolute;
    color: transparent;
    -webkit-text-stroke: 2px transparent; 
    background: linear-gradient(to bottom, white 0%, rgb(0, 0, 0) 81%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0b0b0b;
    bottom: 22vh;
    right: 1vh;
    z-index: 0;
    cursor: default;
    user-select: none;
}

.bmwMainTitle {
    z-index: 2;
    position: absolute;
    font-size: 10vh;
    line-height: 12vh;
    left: 20vh;
    top: 35vh;
}

.bmwMainFirstTitle {
    z-index: 2;
    position: absolute;
    font-size: 10vh;
    top: 35vh;
    left: 20vh;
    transition: 0.3s;
    cursor: default;
}

.bmwMainFirstTitle:hover {
    letter-spacing: 1vh;
}

.mainTitleSecondStroke {
    z-index: 2;
    position: absolute;
    font-size: 10vh;
    top: 46vh;
    left: 20vh;
    display: flex;
    gap: 2vh;
}

.bmwSecondStrokeWord {
    font-size: 10vh;
    cursor: default;
    transition: 0.3s;
}

.bmwSecondStrokeWord:hover {
    letter-spacing: 1vh;
}

.dotsImage {
    z-index: 1;
    position: absolute;
    top: 42vh;
    left: 12vh;
}

.carImage {
    z-index: 1;
    position: absolute;
    top: 35vh;
    left: 61.5vh;
    transition: .3s;
    width: 115vh;
}

.carImage:hover {
    transform: scale(1.02);
    top: 34.5vh;
}

.featuresContainer {
    z-index: 1;
    position: absolute;
    top: 85vh;
    left: 20vh;
    display: flex;
    align-items: end;
    gap: 24vh;
}

.learnMoreButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2vh;
    transition: 0.2s;
    text-decoration: none;
}

.learnMoreButton:hover {
    color: #225fd1;
}

.learnMoreButton::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 0.1vh;
    background-color: #225fd1;
    transition: width 0.3s ease;
}
  
.learnMoreButton:hover::after {
   width: 10vh;
}